body{
	background-color: cadetblue;
	color: black;
	font size:20px;
	font-family:Arial;
	padding: 5px;
	margin: 5px;
}
#registration{
	max-width: 1020px;
	margin: 0px auto;
	margin: 0px auto:
	color: gray;
	font-size: 35px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

#all{
	padding-left: 60px;
}